[package]
name = "dhbWM"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
x11rb = "0.10.*"
yaml-rust = "*"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
