# This is the config file for OxideWM.
# Here you can freely configure your window manager.
# Please keep in mind that you have to configure every value properly for the WM to run.
# Otherwise the programm will crash.

cmds:
  #WM Commands
  - keys: ["A", "S", "e"]
    commands: 
      - command: Quit
        args: None

  - keys: ["A", "S", "r"]
    commands: 
      - command: Restart
        args: None
      
  - keys: ["A", "S", "q"]
    commands: 
      - command: Kill
        args: None

  # Move Focus
  - keys: ["A", "l"]
    commands: 
      - command: Focus
        args: "right"

  - keys: ["A", "h"]
    commands: 
      - command: Focus
        args: "left"

  # Move Windows
  - keys: ["A", "S", "l"]
    commands: 
      - command: Move
        args: "right"

  - keys: ["A", "S", "h"]
    commands: 
      - command: Move
        args: "left"

  # Toggle Fullscreen
  - keys: ["A", "f"]
    commands: 
      - command: Fullscreen
        args: None

  # Change Layout
  - keys: ["A", "u"]
    commands: 
      - command: Layout
        args: None

  - keys: ["A", "i"]
    commands: 
      - command: Layout
        args: "Vertical"

  - keys: ["A", "S", "i"]
    commands: 
      - command: Layout
        args: "horizontal"

  #Workspace keys configuration
  - keys: ["C","A", "Right"]
    commands: 
      - command: GoToWorkspace
        args: "next"

  - keys: ["C","A", "Left"]
    commands: 
      - command: GoToWorkspace
        args: "previous"

  #MoveToWorkspace keys configuration
  - keys: ["A", "Right"]
    commands: 
      - command: MoveToWorkspace
        args: "next"

  - keys: ["A", "Left"]
    commands: 
      - command: MoveToWorkspace
        args: "previous"

  # QuitWorkspace Command
  - keys: ["C", "A", "Down"]
    commands: 
      - command: QuitWorkspace
        args: None

  # Execute Commands
  - keys: ["A", "d"]
    commands: 
      - command: Exec
        args: "dmenu_run"

  - keys: ["A", "t"]
    commands: 
      - command: Exec
        args: "kitty"

enum_cmds:
  - from: 1
    to: 9
    command:
      keys: ["A", "C", "$VAL"]
      commands:
        - command: MoveToWorkspace
          args: "$VAL"
  - from: 1
    to: 9
    command:
      keys: ["A", "$VAL"]
      commands:
        - command: GoToWorkspace 
          args: "$VAL"


exec: ["./target/debug/oxide-bar"]
exec_always: []
border_width: 8
border_color: "0x008000" # yellow
border_focus_color: "0xFFFF00" # green
gap: 8
